# Python cache and bytecode
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc
/backend/ecommerce_project/__pycache__
/backend/api/v1/__pycache__
backend/logs/django.log
backend/logs/django.log
backend/logs/django.log
/backend/logs
